/************************** css général **************************/
.sArticle
{
    min-height: 100vh;
    padding: 20px;
}

.article
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.article:nth-of-type(odd) .article_figure
{
    order: -1;
}


.article_section
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

/************************** css des articles **************************/
/** élément de texte **/
.article_h2
{
    font-size: 30px;
    margin: 0;
    text-decoration: underline;
}
.article_div
{
    flex: 1 0 300px;
    padding: 10px;
    background-color: rgb(50, 50, 225, 0.6);
    color: rgb(235, 170, 50);
}

/** élément d"image **/
.article_figure
{
    flex: 1 0 300px;
    padding: 10px 10px 5px 10px;
    background-color: rgb(50, 50, 225, 0.6);
    color: rgb(235, 170, 50);
}
.article_figcaption
{
    display: flex;
    justify-content: center;
    padding-top: 5px;
}