/************************** css général **************************/
.galerie
{
    min-height: 100vh;
    padding: 20px;
}


/************************** css d'image **************************/



/************************** css des vidéos **************************/