/************************** css général **************************/
.galerie
{
    min-height: 100vh;
    padding: 20px;
}
.gImage, .gVideo
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}


/************************** css d'image **************************/
.gImage_figure
{
    flex: 1 1 300px ;
    padding: 10px 10px 5px 10px;
    background-color: rgb(50, 50, 225, 0.6);
    color: rgb(235, 170, 50);
}
.gImage_figure:hover
{
    transform: scale(1.15);
    transition: transform 1s;
}

.gImage_image
{
    filter: blur(3px) brightness(0.75);
}
.gImage_image:hover
{
    filter: blur(0px) brightness(0.75);
}


/************************** css des vidéos **************************/
.gVideo
{
    flex-direction: column;
    align-content: center;
}

.gVideo iframe
{
    flex: 3 0 400px;
}