/************************** css général **************************/
.entete_nav, .entete_bouton
{
    position: fixed;
    font-size: 2rem;
    padding:10px;
}

/************************** css du menu **************************/
.entete_nav
{
    translate: 105%;
    transition: translate 2s;
    top: 50px;
    right: 5px;
    background-color: rgb(235, 170, 50, 0.7);
}
.entete_nav a 
{
    color: black;
    text-decoration: none;
    padding:10px;
    display: block;
}
.entete_nav a:hover
{
    color: rgb(235, 170, 50);
    background-color: rgb(50, 50, 225); 
}
#chk_burger:checked ~ .entete_nav
{
    translate: 0%;
    transition: translate 2s;
}
#chk_burger
{
    display: none;
}


.entete_bouton
{
    top: 5px;
    right: 5px
}