/************************** css général **************************/
.global > section
{
    min-height: 100vh;
    padding: 20px;
}
.global > h2, h3
{
    font-family: DynaPuff;
}
.global > section > h1
{
    font-size: clamp(0.5rem, 10vw, 4rem);
    font-family: DynaPuff;
}

.recette
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.recette:nth-of-type(odd)
{
    border-bottom: dotted 10px rgb(155, 155, 140);
}
.recette:nth-of-type(even)
{
    padding-top: 20px;
}

/************************** css des images **************************/
.recette__div
{
    flex: 1 1 300px;
}

ol > li
{
    padding-bottom: 10px;
}

/************************** css des images **************************/
.recette:nth-of-type(odd) .recette__image
{
    order: -1;
    transform: rotate(-10deg);
    transition: transform 1s;
}
.recette:nth-of-type(even) .recette__image
{
    transform: rotate(10deg);
    transition: transform 1s;
}
.recette .recette__image:hover
{
    transform: rotate(0deg);
    transition: transform 1s;
}

.recette__image
{
    flex: 1 1 250px;
}
.recette__figure
{
    padding: 10px;
    border: solid rgb(155, 155, 140);
    border-radius: 2%;
}
.recette__figcaption
{
    font-family: DynaPuff;
    font-size: 1.5rem;
    padding-bottom: 5px;
    background-color: rgb(155, 155, 140);
}

/************************** css du bouton accueil **************************/
.pied_Baccueil
{
    background-image: url(https://s2.svgbox.net/hero-solid.svg?ic=home&color=5aa5be);
}
.pied_Baccueil:hover
{
    background-image: url(https://s2.svgbox.net/hero-solid.svg?ic=home&color=3333CC);
}