/************************** css général **************************/
*
{
    box-sizing: border-box;
}
html
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    scroll-behavior: smooth;
    font-size: 14px;
}
body
{
    margin: 0;
    padding: 0;
}
h1
{
    font-size: 45px;
    margin: 0;
    padding-bottom: 20px;
}
a
{
    color: rgb(90, 165, 190);
}
a:visited
{
    color: rgb(50, 50, 225);
}
figure
{
    margin: 0;
    padding: 0;
}
figure > img
{
    display: block;
    width: 100%;
    object-fit: cover;
}

.centre
{
    max-width: 1100px;
    margin: 0 auto;
    background-color: rgba(90, 90, 90, 0.4);
}


/************************** css du accueil **************************/
.entete
{
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.entete_p, .entete_a
{
    font-size: 1.25rem;
    max-width: 500px;
}
.entete_a
{
    color: rgb(50, 50, 225);
}
.entete_inscription
{
    font-size: 2rem;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 25%;
    background-color: rgb(90, 165, 190);
}
.entete_inscription:hover
{
    color: rgb(235, 170, 50);
    background-color: rgb(50, 50, 225);
}
.entete_section
{
    font-size: 1.15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}

/************************** css du pied **************************/
.pied
{
    background-color: rgb(235, 170, 50, 0.7);
    position: fixed;
    top: 85vh;
    min-height: 15vh;
    min-width: 100vw;
}
div > footer
{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 5px;
}
.pied_millieu
{
    display: flex;
    align-items: center;
}
.pied_section
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.pied_nav
{
    display: flex;
    flex-direction: column;
}
.pied_accueil
{
    font-size: 2rem;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 25%;
    background-color: rgb(90, 165, 190);
}
.pied_accueil:hover
{
    color: rgb(235, 170, 50);
    background-color: rgb(50, 50, 225);
}
.pied_p
{
    font-size: 1.25rem;
    margin: 0;
    padding: 0 0 5px 0;
    text-decoration: underline;
}
.pied_media
{
    gap: 15px;
}

/************************** l'arrière plan **************************/
body > div:nth-of-type(1)
{
    background-image: url("../img/RoR2.webp");
}
body > div:nth-of-type(2)
{
    background-color: rgb(90, 165, 190);
}
body > div:nth-of-type(3)
{
    background-color: rgb(90, 165, 190);
}
body > div:nth-of-type(4)
{
    background-color: rgb(90, 165, 190);
}
body > div:nth-of-type(5)
{
    background-color: rgb(90, 165, 190);
}
body > div:nth-of-type(6)
{
    background-color: rgb(90, 165, 190);
}