/************************** css général **************************/
.tableau
{
    min-height: 100vh;
    padding: 20px;
}
table
{
    border: 1px solid black;
    width: 70%;
    margin: 0 auto;
    background-color: rgb(235, 170, 50, 0.4);
}

/************************** css du tableau **************************/
caption
{
    font-size: 1.5rem;
    text-decoration: underline;
    font-style: italic;
    padding-bottom: 5px;
}
td, th
{
    border: 1px solid black;
    padding: 5px;
}
thead tr:hover
{
    background-color: rgb(50, 50, 225, 0.7);
    color: rgb(235, 170, 50);

    .tableau_transform
    {
        transform: scale(1.5);
    }
}

/************************** css des images **************************/
.tableau_transform
{
    transform: scale(1);
    transition: transform 1s;
}